bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.JwtDemo/.idea/contentModel.xml
/.idea/.idea.JwtDemo/.idea/encodings.xml
/.idea/.idea.JwtDemo/.idea/indexLayout.xml
/.idea/.idea.JwtDemo/.idea/modules.xml
/.idea/.idea.JwtDemo/.idea/projectSettingsUpdater.xml
/.idea/.idea.JwtDemo/.idea/vcs.xml
/.idea/.idea.JwtDemo/.idea/workspace.xml
